.espacio{
  height: 30px;
}
.campo-texto{
  width: 100%;
}
.uuid {
  overflow: scroll;
  white-space: nowrap;
  text-align: center;
}
.celda{
  overflow: scroll;
  white-space: nowrap;
  text-align: center;
}


.chart{
  margin: 0 15px 0 15px;
}