<table class="table" style="table-layout:fixed;">
  <thead class="thead-dark">
    <tr >
      <th class="text-center" width="5%" scope="col">ID</th>
      <th class="text-center" width="13%" scope="col">Código</th>
      <th class="text-center" width="13%" scope="col">Elección</th>
      <th class="text-center" width="13%" scope="col">Entidad</th>
      <th class="text-center" width="13%" scope="col">Distrito</th>
      <th class="text-center" width="13%" scope="col">Municipio</th>
      <th class="text-center" width="13%" scope="col">Sección</th>
      <th class="text-center" width="13%" scope="col">Localidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vote of votes" class="uuid">
      <th scope="row" class="uuid">{{vote.Key}}</th>
      <td>{{vote.Record.codigo}}</td>
      <td>{{vote.Record.eleccion}}</td>
      <td>{{vote.Record.entidad}}</td>
      <td>{{vote.Record.distrito}}</td>
      <td>{{vote.Record.municipio}}</td>
      <td>{{vote.Record.seccion}}</td>
      <td>{{vote.Record.localidad}}</td>
    </tr>
  </tbody>
</table>
<div class="espacio"></div>
<div class="chart">
  <ngx-charts-advanced-pie-chart [view]="view" [scheme]="colorScheme" [results]="graf" [gradient]="gradient" (select)="onSelect($event)">
  </ngx-charts-advanced-pie-chart>
</div>
<div class="espacio"></div>
<form (ngSubmit)="buscar(f)" #f="ngForm" ngNativeValidate>
  <mat-form-field class="campo-texto" color="accent">
    <mat-select placeholder="Campo a buscar" name="seleccion" ngModel #seleccion required>
      <mat-option *ngFor="let eleccion of elecciones" [value]="eleccion" >
        {{ eleccion}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="campo-texto" color="accent">
    <input name="busqueda" matInput placeholder="String de Query" ngModel required #busqueda>
  </mat-form-field>
  <button mat-raised-button color="accent" [disabled]="!f.form.valid" type="submit">Buscar</button>
</form>
<br>
<table class="table" style="table-layout:fixed;">
  <thead class="thead-dark">
    <tr>
      <th class="text-center" width="5%" scope="col">ID</th>
      <th class="text-center" width="13%" scope="col">Código</th>
      <th class="text-center" width="13%" scope="col">Elección</th>
      <th class="text-center" width="13%" scope="col">Entidad</th>
      <th class="text-center" width="13%" scope="col">Distrito</th>
      <th class="text-center" width="13%" scope="col">Municipio</th>
      <th class="text-center" width="13%" scope="col">Sección</th>
      <th class="text-center" width="13%" scope="col">Localidad</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vote of query" class="uuid">
      <th scope="row" class="uuid">{{vote.Key}}</th>
      <td>{{vote.Record.codigo}}</td>
      <td>{{vote.Record.eleccion}}</td>
      <td>{{vote.Record.entidad}}</td>
      <td>{{vote.Record.distrito}}</td>
      <td>{{vote.Record.municipio}}</td>
      <td>{{vote.Record.seccion}}</td>
      <td>{{vote.Record.localidad}}</td>
    </tr>
  </tbody>
</table>